.Ad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 60vh;

    .business {
        flex-basis: 40%;
        display: inherit;
        flex-direction: column;
        gap: 30px;

        button {
            width: max-content;
            padding: 10px 25px;
            background: #5ce1e6;
            border-radius: 10px;
            border: none;
            font-weight: 600;
        }
    }

    .stats {
        flex-basis: 40%;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .item {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 15px;

            span {
                padding: 25px;
                border-radius: 50%;
                background-color: rgba(9, 151, 124, 0.1);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50%;
            }


            .text {
                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

.billing {
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;

    .mainImg {
        height: 100%;
        flex-basis: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .billing-text {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .stores {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    }
}

.dealing {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 60vh;

    .mainImg {
        height: 100%;
        flex-basis: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .business {
        flex-basis: 40%;
        display: inherit;
        flex-direction: column;
        gap: 30px;

        button {
            width: max-content;
            padding: 10px 25px;
            background: #5ce1e6;
            border-radius: 10px;
            border: none;
            font-weight: 600;
        }
    }

}

.feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    text-align: center;
    min-height: 200px;
}

.card-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    .card {
        flex-basis: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        padding: 20px;
        gap: 20px;
        border-radius: 15px;
        transition: .2s ease-in-out;

        &:hover {
            background: #3232322d;
        }

        img {
            width: 20px;
            height: auto;
        }

        .profile {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                height: 20px;
                width: 20px;
                padding: 20px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

    }
}

.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 5vh 0px;

    img {
        width: 12%;
        height: auto;
        object-fit: scale-down;
    }
}

.get-started {
    background: linear-gradient(194deg, #272727, #11101d);
    padding: 20px;
    margin: 5vh 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 20px;

    span {
        flex-basis: 40%;
    }

    button {
        width: max-content;
        padding: 10px 25px;
        background: #5ce1e6;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        transition: .3s;

        &:hover {
            box-shadow: 0px 0px 25px 2px #1ed9bb;
            background-color: #66e2e7;
        }
    }

}