.Feature {
  padding: 20px;
  gap: 50px;
  height: 70vh;
  align-items: center;
}
.Feature > div:nth-of-type(1) {
  flex-basis: 65%;
}

.Feature > div:nth-of-type(1) > * {
  gap: 20px;
  color: transparent;
  background-image: linear-gradient(303deg, #ae67fa -13.86%, #f49867 99.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Feature > div:nth-of-type(1) > h1 {
  font-size: 34px;
}
.container h1 {
  font-size: 18px;
}
.container p {
  font-size: 14px;
}
.card h1 {
  flex-basis: 50%;
}
.card p {
  flex-basis: 50%;
}
