.Footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #0b0a0c99;

    .contact {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;

        .logo {
            flex-basis: 40%;
            padding: 20px;

            img {
                height: auto;
                width: 200px;
            }
        }

        .links {
            flex-basis: 60%;
            display: flex;
            gap: 20px;
            justify-content: space-around;

            .link-item {
                cursor: pointer;


                p {
                    transition: .2s;
                    margin: 8px 0px;
                    color: var(--commentText);

                    &:hover {
                        color: white !important;
                    }
                }
            }
        }
    }

}