.Footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    .contact {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;

        .logo {
            flex-basis: 50%;
            padding: 20px;

            img {
                height: auto;
                width: 200px;
            }
        }

        .links {
            flex-basis: 50%;
            display: flex;
            gap: 20px;
            justify-content: space-around;

            .link-item {
                p {
                    margin: 8px 0px;
                }
            }
        }
    }

}