.Header {
    display: flex;
    justify-content: space-between;
    padding: 20px 3vw;
    align-items: center;
    gap: 10px;

    img {
        height: auto;
        width: 150px;
    }

    div {
        // flex-basis: 100%;
        display: flex;
        gap: 40px;
        justify-content: flex-end;

        a {
            font-size: 13px;
            color: var(--commentText);
            text-decoration: none;
            transition: .2s ease-in-out;

            &:hover {
                color: white;
            }
        }
    }
}
