.Hero {
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

    >.heroImgWrapper {
        flex-basis: 50%;
        position: relative;

        svg {
            visibility: hidden;
            position: absolute;
            left: 0%;
        }

        h1 {
            position: absolute;
            border-radius: 50%;
            height: 100px;
            width: 100px;
            z-index: 9;
            background: #FFF;
            box-shadow: 17px -19px 15px 33px rgba(37, 240, 255, 0.43) inset, 88px -82px 35px -81px #119cddb4 inset;
            // animation-name: updown;
            // animation-duration: 5s;
            // animation-iteration-count: infinite;
            // animation-fill-mode: backwards;
            // animation-direction: reverse;
            // animation-delay: 1s;

        }

        .HeroImg {
            height: auto;
            width: 100%;
            object-fit: cover;
            animation: updown 5s infinite ease-in-out;
        }
    }

    .textSection {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;



        p {
            color: var(--commentText);
        }

        .discount {
            display: flex;
            max-width: 400px;
            height: 40px;
            padding: 5px 0px;
            border-radius: 5px;
            background: var(--cardBg);
            align-items: center;
            justify-content: space-around;

            img {
                height: auto;
                width: min-content;
            }
        }

        .title {
            color: white;
            position: relative;

            h2 {
                box-shadow: 0px 0px 5px 1px #33bbcf;
                padding: 40px;
                position: absolute;
                right: 8%;
                top: 0%;
                border-radius: 50%;
                transition: 0.3s ease-in-out;

                &::before {
                    position: inherit;
                    left: 10%;
                    top: 42%;
                    font-size: 12px;
                    width: inherit;
                    content: "Get Started";
                    height: max-content;
                }

                &:hover {
                    box-shadow: 0px 0px 25px 2px #1ed9bb;
                    background-color: #66e2e7;
                    color: black;
                }
            }
        }
    }

    .actB {
        color: black;
        background-color: #33bbcf;
        box-shadow: 0px 0px 25px 2px #1ed9bb !important;
    }

    .details {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0px;
        padding: 20px;
        background: rgba(54, 52, 52, 0.651);
        flex-wrap: wrap;
        gap: 20px;
        border-radius: 10px;

        div {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            padding: 0px 10px;

            h2 {
                color: white;
                font-size: 1em;
            }

            .gradientText {
                font-size: 0.7em;
            }
        }
    }
}

@keyframes updown {
    50% {
        transform: translateY(30px);
    }
}